[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Ardalan Samimi
	email = ardalan.samimi@gmail.com
[core]
	excludesfile = /Users/ardalansamimi/.dotfiles/.gitignore_global
	editor = /usr/bin/nano
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	st = status
	ci = commit
	up = remote update
	unstage = reset HEAD --
	last = log -1 HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
[push]
	followTags = true
