[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
        name = Ardalan Samimi
        email = ardalan.samimi@gmail.com
	signingkey = 02C30D626F90E6DE
[core]
	excludesfile = /Users/ardalansamimi/.dotfiles/.gitignore_global
	editor = /usr/bin/nano
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[credential]
	helper = osxkeychain
[alias]
	pl = pull
	ps = push
	co = checkout
	st = status
	ci = commit
	up = remote update
	unstage = reset HEAD --
	last = log -1 HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
[push]
	followTags = true
