# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.platform-darwin':
  'cmd-shift-e': 'tree-view:toggle'
  'cmd-shift-c': 'custom:toggle-ftp'
  'cmd-shift-1': 'bookmarks:view-all'
  'cmd-shift-m': 'remote-ftp:toggle'
  "cmd-shift-o": "custom:toggle-outline-view"
  'ctrl-l': 'core:move-left'
  'ctrl-p': 'core:move-up'
  'ctrl-ö': 'core:move-down'
  'ctrl-ä': 'core:move-right'
  "ctrl-x right": "pane:show-next-item"
  "ctrl-x ctrl-right": "pane:show-next-item"
  "ctrl-x left": "pane:show-previous-item"
  "ctrl-x ctrl-left": "pane:show-previous-item"
  "ctrl-x ctrl-l": "pane:show-previous-item"
  "ctrl-x l": "pane:show-previous-item"
  "ctrl-x ctrl-ä": "pane:show-next-item"
  "ctrl-x ä": "pane:show-next-item"
  "ctrl-x ctrl-m": "build:select-active-target"
  'ctrl-x ctrl-b': 'build:trigger'
'atom-text-editor':
  'cmd-shift-2': 'bookmarks:toggle-bookmark'
  'cmd-shift-b': 'latex:build'
  'alt-ctrl-c': 'latex:clean'
  "cmd-h": "custom:toggle-fold"
  "cmd-H": "custom:toggle-fold"
  'shift-cmd-B': 'fuzzy-finder:toggle-git-status-finder'
  'ctrl-w': 'atomic-emacs:copy-region-as-kill'
  'shift-alt-tab': 'editor:auto-indent'
  "cmd-ctrl-1": "theme-switch:prev"
"atom-workspace atom-text-editor":
  "ctrl-<": 'multi-cursor:expandDown'
  "ctrl-x ctrl-l": "pane:show-previous-item" # must rebind it in editor mode
  'ctrl-l': 'core:move-left'
  'ctrl-p': 'core:move-up'
  'ctrl-ö': 'core:move-down'
  'ctrl-ä': 'core:move-right'
  "cmd-p": "core:move-to-top",
  "cmd-ö": "core:move-to-bottom",
  "cmd-l": "editor:move-to-first-character-of-line"
  "cmd-L": "editor:select-to-first-character-of-line"
  "cmd-ä": "editor:move-to-end-of-screen-line"
  "cmd-Ä": "editor:select-to-end-of-line"
  "alt-l": "editor:move-to-beginning-of-word"
  "alt-p": "atomic-emacs:scroll-down"
  "alt-ö": "atomic-emacs:scroll-up"
  "alt-P": "core:move-to-top"
  "alt-Ö": "core:move-to-bottom"
  "alt-ä": "editor:move-to-end-of-word"
  'ctrl-left': 'editor:move-to-beginning-of-word'
  "alt-L": "editor:select-to-beginning-of-word"
  "alt-Ä": "editor:select-to-end-of-word"
  'ctrl-right': 'editor:move-to-end-of-word'
  "ctrl-alt-l": "editor:move-to-previous-subword-boundary"
  "ctrl-alt-ä": "editor:move-to-next-subword-boundary"
  "ctrl-alt-L": "editor:select-to-previous-subword-boundary"
  "ctrl-alt-Ä": "editor:select-to-next-subword-boundary"
".platform-darwin atom-text-editor":
  "shift-cmd-space": "goto-definition:go"
  "ctrl-.": "symbols-view:go-to-declaration"
  "ctrl-:": "symbols-view:toggle-file-symbols"
  "alt-x": "command-palette:toggle"
  "cmd-alt-up": "symbols-view:return-from-declaration"
  "ctrl-x ctrl-a": "tree-view:add-file"
".tree-view":
  'a': 'tree-view:add-file'
