[user]
	name = Ardalan Samimi
	email = ardalan@userspace.me
	signingkey = AE6EB3B6
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/nano
	pager = less
[commit]
	gpgsign = true
[gpg]
	program = gpg
[credential]
	helper = osxkeychain
[alias]
	pl = pull
	ps = push
	co = checkout
	st = status
	ci = commit
	up = remote update
	unstage = reset HEAD --
	last = log -1 HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	uncommit = reset --soft HEAD^
[push]
	followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[delta]
	side-by-side = true
[pull]
	rebase = false
