[user]
	name = NAME
	email = EMAIL
	signingkey = KEYID
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/nano
	pager = less
[commit]
	gpgsign = true
[gpg]
	program = gpg
[credential]
	helper = osxkeychain
[alias]
	pl = pull
	ps = push
	co = checkout
	st = status
	ci = commit
	up = remote update
	unstage = reset HEAD --
	last = log -1 HEAD
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	uncommit = reset --soft HEAD^
	branches = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	clear = "!git branch --merged | egrep -v \"(^\\*|master|main|dev)\" | xargs git branch -d"
[push]
	followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
